/* Font */
@font-face {
    font-family: 'savucondensed';
    src: url('../font/savu-condensed.woff2') format('woff2'),
         url('../font/savu-condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    font: 16px/26px 'savucondensed', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main {
    padding: 30px 0;
}

.header-container {
    background-image: url('../img/jk-grey.jpg');
    background-size: cover;
    background-position: 50%;
}

.header-container header {
    padding: 0 0 3vw;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.footer-container {
    border-top: 20px solid #eab931;
    color: white;
    background-color: #000;
}

img {
    max-width: 100%;
}

.warn {
	background: orange;
	color: white;
	border-radius: 5px;
	padding: 15px;
}

/* ==============
    TITLE, HEADER
   ============== */

.title {
    font-size: 11vw;
    line-height: 0;
    margin: 1.5em auto 1em;
}

.subtitle {
    font-size: 6vw;
}

.header-container header h3 {
    width: 50%;
    margin: 0 auto 1em;
    padding-top: 1em;
    font-size: 4.5vw;
}

/* ==============
    BUTTONS
   ============== */

.button, .addeventatc {
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    display: inline-block;
    font-family: 'savucondensed', sans-serif !important;
    font-weight: 600;
    line-height: 100%;
    color: #000;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased!important;
    outline-color: rgba(0, 78, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    box-shadow: 0 0 0 0.5px rgba(50, 50, 93, .17), 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 0 0 transparent!important;
}

.button:hover {
    background-color: #fafafa;
}

.button.rsvp {
    background-color: #eab931;
    color: white;
}

.button.rsvp:hover {
    background-color: #dcad2d;
}

nav ul li a, nav ul li .addeventatc, nav ul li .addeventatc:hover {
    width: 100%;
    max-width: 14em;
    box-sizing: border-box;
    font-size: 1.4em;
    padding: 0.8em 0;
}

nav ul li a img, nav ul li .addeventatc img {
    height: 1.3em;
    margin-right: 0.3em;
}

.addeventatc_icon {
    display: none;
}

/* ==============
    IMAGE SLIDESHOW
   ============== */

.slideshow {
    width: 100%;
    height: 20em;
    max-height: 100vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.slideshow a {
    display: inline-block;
    border-radius: 2px;
    margin-right: 3px;
    height: 100%;
}

.slideshow a picture, .slideshow a picture img {
	height: 100%;
	width: auto;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
    text-align: center;
    margin: 2em auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    overflow: hidden;
    padding: 0.5em 0;
}

/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 2% 5%;
    max-width: 200px;
    background-color: #e44d26;
    border-radius: 3px;
    margin: 2em auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.main aside div {
    margin: 0 auto;
}

.main aside h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 0.4em;
    margin-bottom: 0.7em;
}

.main aside h3, .main aside p {
    display: inline;
    line-height: 200%;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ===============
    Wider screens
   =============== */

@media only screen and (min-width: 768px) {
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
        text-align: left;
    }
    nav ul li {
        display: inline-block;
        padding: 0.5em 0.5em;
    }

    nav ul li a, nav ul li .addeventatc, nav ul li .addeventatc:hover {
        padding: 0.8em 1em;
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==============
    RIBBONS
   ============== */
   .main article h1.ribbon {
    position: relative;
    border-width:2px 0;
    position:relative;
    display:block;
    padding:0.75em 0 0.75em 0.5em;
    overflow: hidden;
    font-size: 1.6em;
    text-align: center;
    background-color: rgb(32,68,50);
    color: white;
  }

.main article h1.ribbon:after,
.main article h1.ribbon:before {
    background: white;
    border-style:solid;
    border-color:rgb(32,68,50);
    border-width:0;
    -webkit-transition: border-color 500ms ease;;
    -moz-transition: border-color 500ms ease;;
    -ms-transition: border-color 500ms ease;;
    -o-transition: border-color 500ms ease;;
    transition: border-color 500ms ease;;
    }
  
    .main article h1.ribbon:before {
    content: "";
    display:inline-block;
    border-bottom-width:2px;
    border-left-width:2px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    position:absolute;
    top:-50%;
    bottom:50%;
    left:1.34em;
    right:0;
  }
  
  .main article h1.ribbon:after {
    content: "";
    display:inline-block;
    border-bottom-width:2px;
    border-right-width:2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    position:absolute;
    top:-50%;
    bottom:50%;
    left:0;
    right:1.34em;
  }